.button.is-success {
  background-color: #2ecc71;
}
.title.is-size-1 {
  font-size: 3.5rem !important;
  line-height: 4rem;
}
.has-text-green {
  color: #5ff991;
}
.has-text-dark-green {
  color: #27ae60;
}
.has-text-blue {
  color: #3498db;
}
.has-text-purple {
  color: #9b59b6;
}
.has-text-pink {
  color: #b80fff;
}
