<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">ThemeLad</a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="mainNav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/themes">Themes</a>
        <a class="navbar-item" href="/pricing">Pricing</a>
        <a class="navbar-item" href="/blog">Blog</a>
        <a class="navbar-item" href="/contact">Contact</a>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">Sign Up</a>
            <a class="button is-light">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
